.wrap-text {
    white-space: wrap;
    overflow-wrap: break-word;
    max-width: 93%;
}

.rating .stars {
    display: flex;
    justify-content: center;
}

.rating .star {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #A9A9A9;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.rating .star-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffcc00;
}