.icon[b-cekdey80d9] {
    fill: white;
    transform: scale(1.4);
}

.cardapios-grid[b-cekdey80d9] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    max-height: 80vh;
}

.cardapio-card[b-cekdey80d9] {
    width: 16%;
    min-width: 300px;
}

.card[b-cekdey80d9] {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 381px;
}

.rating .stars[b-cekdey80d9] {
    display: flex;
    justify-content: center;
}

.rating .star[b-cekdey80d9] {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #A9A9A9;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.rating .star-inner[b-cekdey80d9] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffcc00;
}

.card-footer .btn[b-cekdey80d9] {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

/* Estilos para o botão "Novo" */
.btn-padding[b-cekdey80d9] {
    padding: 10px 20px;
}

.btn[b-cekdey80d9] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.trunc-text[b-cekdey80d9] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}